{% extends 'base.html' %}
{% block title %} Dino Quiz {% endblock %}
{% block content %}

<h2> Dino Quiz </h2>




<form action="{{url_for('dino_quiz')}}" method="POST" name="dino_quiz">

    <!-- Q1: Dropdown -->
    <legend> Dinosaur fossils have been found on all seven continents. On which continent have the most dinosaur fossils been found? </legend>
    <select class = "form-select mb-3" aria-label="seven continents" id="continents" name="continents">
        <option> Africa </option>
        <option> Antarctica </option>
        <option> Asia </option>
        <option> Australia </option>
        <option> Europe </option>
        <option> North America </option>
        <option> South America </option>
    </select>



<!-- 
Q2: Checkbox -->
<fieldset class="mb-3">
    <legend>All dinosaurs hatched from eggs. True or False?</legend>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="true">True</label>
            <input class="form-check-input" type="radio" id="true" name="eggs" value="true">
        </li>
        <li class="form-check">
            <label class="form-check-label"for="false">False</label>
            <input class="form-check-input"type="radio" id="false" name="eggs" value="false">
        </li>
    </ul>
</fieldset>

<!-- Q3: Radio button -->
<fieldset class="mb-3">
    <legend>All dinosaurs hatched from eggs. True or False?</legend>
    <ul>
        <li class="form-check">
            <label class="form-check-label" for="true">True</label>
            <input class="form-check-input" type="radio" id="true" name="eggs" value="true">
        </li>
        <li class="form-check">
            <label class="form-check-label"for="false">False</label>
            <input class="form-check-input"type="radio" id="false" name="eggs" value="false">
        </li>
    </ul>
</fieldset>

<!-- Q4: Text input -->
<div>
    <legend>Dinosaurs went extinct:</legend>
    <input type="text" id="extinct" name="extinct">
    <label for="extinct">millions of years ago</label>
</div>

<button type="submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>
</form>

{% endblock %}