{% extends "base.html" %}

{% block title %}About {{dinosaur['name']}}{% endblock %}

{% block content %}

<figure>
    <img src="{{url_for('static', filename='images/' + dinosaur['image'])}}" alt="{{dinosaur['name']}}">
    <figcaption>{{dinosaur['image-credit']}}</figcaption>
</figure>
<h1>{{dinosaur['name']}}</h1>
<p>{{dinosaur['description']}}</p>
<p>{{dinosaur['source-credit']}}</p>

{% if facts is defined and facts %}
<h3>User-Added Fun Facts about {{dinosaur['name']}}!</h3>
<div class="row">
    <div class="col-2"><strong>Name:</strong></div>
    <div class="col-6"><strong>Fun Fact:</strong></div>
</div>
{% for fact in facts %}
<div class="row my-2 py-1 bg-light">
    <div class="col-2"><strong>{{fact['name']}}</strong></div>
    <div class="col-6">{{fact['fact']}}</div>
</div>

{% endfor %}
{% endif %}
<a href="{{ url_for('add_fact',dino_id=dinosaur['id'])}}"
class="btn btn-primary btn-sm" role="button">Add Fun Fact</a>
{% endblock %}